**/node_modules
**/.next
**/dist
!packages/compify-pack/dist
!packages/compify-pack/sandpack-client/dist
.git
.github
**/.gitignore
**/.env
**/.env.*
**/coverage
**/*.log
.DS_Store
deploy
packages/cli
packages/templates
apps/api
